################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*/bin/
*/obj/
.vs/
/KnifeZ.Extensions/KnifeZ.Extensions/bin/
/KnifeZ.Extensions/KnifeZ.Extensions/obj/
/KnifeZ.Extensions/KnifeZ.Extensions.DatabaseAccessor/bin/
/KnifeZ.Extensions/KnifeZ.Extensions.DatabaseAccessor/obj/
